body {
    margin: background-color: gray;
}

header{
position:relative;
padding-left: 100px;
}

nav{
    position: absolute;
    top: 0;
    right:100px;
}


lits{
    color:red;
    list-style-type: none;
    text-align: center;
    }

list{
    color: red;
    padding-right: 50px;
    font-weight: bold;
    font-size: 20px;
    
}


img{
    width: 500px;
}